#balance {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.balancedisplay {
    border-right: 1px solid grey;
    padding-right: 200px;
}

#dashboardcontainer {
    background-color: rgb(238, 238, 238);
    padding:20px;
    border-radius: 5px;
}

#addabill {
    background-color:  rgb(255, 81, 0);
    border-color:   rgb(255, 81, 0);
}

#settleup {
    background-color: #1cc29f;
    border-color:  #1cc29f;
}

#dashboardtitle {
    font-size: 40px;
}

#settleFriends {
    font-family: 'Montserrat', sans-serif;
}
