.dashboard {
    margin-top: 20px;
}

#grouptag {
    margin-top: 15px;
}

a {
    color: #000000;
}

a:hover {
    color: #1cc29f;
}

#balancecontainer {
    margin-top: 10px;
    padding-top: 10px;
}