.mygroups {
    margin-top: 20px;
}

.acceptinvitebutton {
    background-color: #1cc29f;
    border-color: #1cc29f;
}

.groupinvitetitle {
    font-size: 40px;
}

#invitecontainer {
    margin-top: 20px;
}
